<launch>

<group ns="talker1">
 <nodename="talker" pkg="beginner_tutorials" type="talker"/>
</group>

<group ns="talker2">
  <nodename="talker" pkg="beginner_tutorials" type="talker"/>
</group>

<nodename="listener" pkg="beginner_tutorials" type="listener"output="screen">
 <remap from="chatter" to="talker1/chatter"/>
</node>

<launch>
